@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <!-- Setup CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400">

    <style>

    </style>

    <title>Welcome to Piranha CMS</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-12 text-center">
                <div class="card p-md-5">
                    <div class="card-body">
                        <p>
                            <img alt="twitter shield" src="https://piranhacms.org/assets/twitter-shield.png">
                        </p>
                        <h2>Welcome to Piranha CMS</h2>
                        <p class="lead">
                            Thanks for using Piranha CMS and choosing to start your project
                            with our <strong>Web Template</strong> for MVC.
                        </p>
                        <p>
                            You can log into the admin panel at <code><a href="~/manager">~/manager</a></code>
                            with the default credentials <code>admin/password</code>.
                        </p>
                        <p>
                            If you want we can seed some data for you which will give you an
                            example of how to create and structure with Piranha CMS. After you're
                            done with the setup you can delete the <code>SetupController</code>
                            and the <code>~/seed</code> directory from your project.
                        </p>
                        <p class="mt-5">
                            <a href="@Url.Action("Seed")" class="btn btn-primary btn-sm">Seed some data</a>
                            <a href="~/manager/login" class="btn btn-primary btn-sm">Take me to the manager</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>